<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--将A配置到配置文件中-->
    <bean name="A" class="com.gongjun.bean.A">
        <!--将A的属性配置，spring会自动配置的值注入到A中-->
        <property name="name" value="tom">

        </property>
    </bean>
    <!--将B配置到配置文件中-->
    <bean name="B" class="com.gongjun.bean.B">
        <!--ref表示要将bean A注入-->
        <property name="a" ref="A">

        </property>
    </bean>
</beans>